html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body    {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.about-body {
    background-color: #000000;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
}

#info-p  {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
  text-align: left;
  max-width: 550px;
  width: 100%;
    max-height: 500px;
  padding: 0em 2em 0em 2em;
  margin: 1em 2em 0em 2em;
    color: white;
    overflow: hidden;
}

#info-work {
margin-left: 9em;
width: 300px;
float: left;
}

#info-work p{
font-size: 1.3em;
color: #848484;
font-family: 'Work Sans', sans-serif;
}

.top-container    {
    display: block;
    width: 100%;
    height: 3em;
    z-index: 9999;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    justify-content: space-between;
}

.black {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    justify-content: space-between;
    background-color: black;
}

.row    {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}

.row-top    {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}

.right  {
    float: right;
    width: 100%;
}

.col-xs-12 {
  margin: 10;
  padding: 30px;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

a.logo    {
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: black;
    float: left;
    margin: 1vw 1.8vh;
    z-index: 9999;
}

a.info-logo {
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: white;
    float: left;
    margin: 1vw 1.8vh;
    z-index: 9999;

}
a.about    {
    text-align:center;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    text-decoration: none;
    padding: 0% 0%;
    margin: 1vw 3vh;
    float: right;
    color: black;
    z-index: 9999;
}

.language    {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 0 0.4em 0;
    float: right;
    z-index: 9999;
}

.eng    {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    float: right;
    z-index: 9999;
}

.ned    {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: black;
    float: right;
    z-index: 9999;
}

.languageW    {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 0% 0%;
    margin: 1vw 1vh;
    float: right;
    z-index: 9999;
}

.engW    {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 0% 0%;
    margin: 1vw 1vh;
    float: right;
    z-index: 9999;
}

.nedW    {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 1vw 1vh;
    float: right;
    z-index: 9999;
}

a.ned:hover {
    color: indianred;
}

a.eng:hover {
    color: indianred;
}

a.nedW:hover {
    color: indianred;
}

a.engW:hover {
    color: indianred;
}

a.info-exit    {
    text-align:center;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    text-decoration: none;
    padding: 0% 0%;
    margin: 1vw 3vh;
    float: right;
    color: white;
    z-index: 9999;
}

.link {
    color: white;
    text-decoration: none;
    }

#link-email {
    color:indianred;
    text-decoration: none;
    }

a:hover   {
    cursor: pointer;
}